# ==============================================================
# Basic Libraries
# ==============================================================
json
numpy
matplotlib
seaborn

# ==============================================================
# Data / ML libraries
# ==============================================================
pandas
scikit-learn
nltk

# ==============================================================
# NLP / Deep Learning
# ==============================================================
torch
tensorboard

# ==============================================================
# misc
# ==============================================================
pyyaml       # for loading YAML files