# ==============================================================
# Basic Libraries
# ==============================================================
numpy
matplotlib
seaborn

# ==============================================================
# Data / ML libraries
# ==============================================================
pandas
scikit-learn
nltk

# ==============================================================
# NLP / Deep Learning
# ==============================================================
torch
transformers
tensorboard
nltk  # for data analysis

# ==============================================================
# misc
# ==============================================================
pyyaml       # for loading YAML files